@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
@import "tailwindcss";


.body-part {
  @apply hover:text-red-500 cursor-pointer active:text-red-500 transition-colors
}

@layer base {
  html {
    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

@layer components {
  .custom-p {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}